nav{
    display: flex;
    justify-content: center;
    margin: 20px 20px;
    align-items: center;
}
ul {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    gap: 20px;
}
li {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #000000;
}

li:hover {
    cursor: pointer;
    border-radius: 5%;
    background-color: #4c86af;
}

/* Colocala el css que del componente, lo de arriba lo puedes quitar */

