.hover-shake:hover {
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(-3px);
  }
}